@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --theme-color: #2874f0;
  --font-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: #f1f3f6;
}

.navbar {
  height: 4rem;
}

.nav-search-items {
  margin: 0 auto;
}

.nav-logo {
  height: 40px;
  margin-right: 20px;
  vertical-align: middle;
}

.nav-searchbar {
  width: 32rem;
  font-size: 14px;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  padding: 6px 8px;
  border-radius: 2px;
}



.navbar ul {
  height: 4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: var(--theme-color);
}



.navbar a {
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--font-color);
}

.container {
  width: 100%;
  min-height: calc(100vh - 9rem);
}

.header {
  padding: 1rem;
  background-color: var(--font-color);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}







.header-items-ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
}

.header-items-ul li {
  width: 8.5rem;
  padding-right: 8px;
  text-align: center;
}

.header-items {
  text-decoration: none;
  color: rgb(66, 62, 62);
  font-size: 14px;
  font-weight: 400;
}









.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active:hover {
  background-color: #717171;
}


.footer ul {
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  background-color: var(--theme-color);
}

.footer-items {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer i {
  margin-right: 5px;
  color: rgb(255, 217, 0);
}

.footer a {
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--font-color);
}


